.timeline__items {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 914px;
  max-height: 93.7vh;
  margin: 0 auto;
  padding: 0;
  max-width: 634px;
  overflow: auto;
  overflow-x: hidden;
}

.timeline__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px auto;
}

.item__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: flex-start;
  margin-right: 16px;
}

.user__avatar {
  display: block;
  border-radius: 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.user__avatar img {
    max-width: 5rem;
}

.item__left img {
  max-width: 48px;
  max-height: 48px;
  margin: 0;
}

.item__right {
  width: 100%;
  max-width: 480px;
}

.user__info__wrapper {
    display: inline-flex;
    align-items: flex-start;
}

.user__info {
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.avatar__wrapper {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  margin-left: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

svg {
    width: 14px;
}

h5 {
    font-size: 11px;
    margin: auto auto;
    color: #092828;
    font-family: 'Roboto', sans-serif;
}

.avatar__wrapper span {
  display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: auto auto;
}

.user__info__spacer {
    margin: auto 0.25rem;
    display: flex;
    margin-top: 0;
    line-height: 1;
}

.post__message {
  background-color: #f6f6f6;
  border-radius: 7px;
  width: 100%;
  margin: auto auto;
  max-width: 470px;
  display: inline-grid;
  word-break: break-word;
}

.post__message:before {
  content: "";
  position: absolute;
  margin-left: -10px;
  margin-top: 10px;
  margin-bottom: auto;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 15px solid #f6f6f6;
  border-bottom: 25px solid transparent;
  z-index: -10;
}


.post__message p {
  display: inline-flex;
  align-items: baseline;
  /* width: 100%; */
  max-width: 438px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #092828;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-left: 5px;
}

.post__date {
  right: 0;
  margin: auto auto;
  margin-right: 15px;
}

.post__date h6 {
  font-size: 11px;
  margin: auto auto;
  color: #092828;
  font-family: 'Roboto', sans-serif;
}

.user__displayName {
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.timeline__reply__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: auto auto;
  margin-left: 63px;
  max-width: 470px;
}

img.user__imageUpload {
  max-width: 470px;
  max-height: 255px;
  z-index: 10;
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track-piece {
  -webkit-box-shadow: inset 0 0 6px rgba(0,195,151,0.5);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 6px -3px 6px rgba(0,195,151,0.8);
}

.message__link {
  display: flow-root;
  margin: auto 0;
  margin-left: 5px;
}

.message__link svg {
  fill: #092828;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.message__link button {
  border: none;
  background: none;
  outline: none;
}
