<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <title>Totes Rad MicroBlog!</title>
  </head>

  <body>
    <div id="timeline"></div>
  </body>

</html>
